.DS_Store
.metadata
ArduinoCore/target
ArduinoScreenMaster/target
ColorduinoFirmware/target

ArduinoCppUTest
ArduinoLite
ArduinoPlayground
AvrStl
ProjectTemplate
bin
JColorControl
NinjaPlayground
ProtobufferPlayground